{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NADI BATAM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ae0000;">
      <div class="container">
          <a class="navbar-brand fw-bold" style="font-size: 35px;"  href="#">NADI BATAM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="/index/">Home</a></li>
                  <li class="nav-item"><a class="nav-link active" href="/about/">Kabar NADI</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cek/">Cek Kepesertaan Relawan</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Cek TPS Anda</a></li>
              </ul>
          </div>
      </div>
  </nav>


    <!-- Hero Image -->
    <div class="hero">
        <img src="/static/img/banner1a.jpg" alt="NADI BATAM - Nuryanto Hardi">
    </div>

    <div class="container my-5">
        <h1 class="mb-4">KABAR NADI</h1>
        <div class="row g-4">
          <!-- Kartu 1 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img src="/static/img/artikel1.jpg" class="card-img-top" alt="Berita 1">
              <div class="card-body">
                <h5 class="card-title" style="color: orange;">Eratkan Silaturahmi Relawan, NADI Luncurkan Aplikasi READI</h5>
                <p class="card-text">
                 BATAM - Pasangan calon kepala daerah kota Batam, Nuryanto dan Hardi Hood atau yang akrab disebut NADI, meluncurkan aplikasi REDI, Selasa (17/9). Aplikasi ini bertujuan untuk mempererat silaturahmi antarrelawan yang tersebar di seantero kota Batam.
                </p>
              </div>
            </div>
          </div>
    
          <!-- Kartu 2 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img src="/static/img/artikel2.jpg" class="card-img-top" alt="Berita 2">
              <div class="card-body">
                <h5 class="card-title"  style="color: orange;">Pakai Batik Marlin, NADI Jemput Nomor Urut</h5>
                <p class="card-text">
                    BATAM – Ada yang spesial dari penampilan pasangan calon wali kota dan wakil wali kota Batam, Nuryanto – Hardi S Hood (NADI) ketika prosesi pengambilan nomor urut di hotel Aston, Senin (23/9). Keduanya kompak mengenakan batik lengan panjang merah-hitam.
              </div>
            </div>
          </div>
    
          <!-- Kartu 3 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img src="/static/img/artikel3.jpg" class="card-img-top" alt="Berita 3">
              <div class="card-body">
                <h5 class="card-title"  style="color: orange;">Pasangan NADI Dapat Nomor Urut 1</h5>
                <p class="card-text">
                    BATAM – Pasangan calon wali kota dan wakil wali kota Batam, Nuryanto – Hardi S Hood (NADI) mendapatkan nomor urut 1 dalam kontestasi Pilkada Kota Batam 2024. Pasangan yang diusung oleh PDI Perjuangan dan didukung oleh Partai Gelora dan Partai Buruh ini menyambut baik nomor urut satu yang akan dicetak di surat suara nanti.
                </p>
              </div>
            </div>
          </div>

           <!-- Kartu 4 -->
           <div class="col-md-4">
            <div class="card h-100">
              <img src="/static/img/artikel4.jpg" class="card-img-top" alt="Berita 3">
              <div class="card-body">
                <h5 class="card-title"  style="color: orange;">Deklarasi Kampanye Damai,NADI Tetap Pilih Batik Marlin</h5>
                <p class="card-text">
                    BATAM – Pasangan calon wali kota dan wakil wali kota Batam, Nuryanto – Hardi S Hood (NADI) tetap memilih batik marlin khas kota Batam sebagai balutan yang dikenakan kala menghadiri deklarasi kampanye damai, Senin (23/9) malam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fotterr-->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-left">
          <h2>NADI BATAM</h2>
          <div class="batam-mudah">
            <div class="batam-title"><strong><em>BATAM MUDAH</em></strong></div>
            <div class="batam-list">
              MUDAH BERUSAHA<br>
              MUDAH BEKERJA<br>
              MUDAH BEROBAT<br>
              MUDAH BERSEKOLAH<br>
              MUDAH BERIBADAH
            </div>
          </div>
          <div class="social-icons">
            <a href="#"><i class="bi bi-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
      <!-- Kolom Kanan -->
      <div class="col-md-6">
        <h6>Links</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">Cek Kepesertaan Relawan</a></li>
          <li><a href="#" class="text-white text-decoration-none">Cek TPS Anda</a></li>
        </ul>
      </div>
    </div>
      <div class="footer-bottom">
        <p>© Copyright <strong>NADI Batam</strong> All Rights Reserved</p>
        <p>Developed by <span class="dev-name">Kevin Perdana</span></p>
      </div>

      <!-- Scroll Top Button -->
      <a href="#" id="scroll-top" class="scroll-top active">
          <i class="bi bi-arrow-up-circle-fill"></i>
      </a>

    <!-- Bootstrap JS (untuk menu responsif) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>